<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='../static/styles/index.css') }}">
	<!-- <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/styles.css') }}"> -->
	<title>
		{% block pageTitle %} Sprout Quest - Home {% endblock %}
	</title>
</head>
<body>
	<main class="main">
		{% block content %}
		{% endblock %}
	</main>
	<footer class="footer">
		<span> &copy; 2025 Melania Chiru & Ash Rebelo. All rights reserved </span>
	</footer>
</body>
</html>