@font-face {
    font-family: "nunito";
    src: url("../fonts/Nunito/static/Nunito-SemiBold.ttf") format("truetype"),
}

@font-face {
    font-family: "nunito-italic";
    src: url("../fonts/Nunito/static/Nunito-BlackItalic.ttf") format("truetype"),
}

@font-face {
    font-family: "nunito-bold";
    src: url("../fonts/Nunito/static/Nunito-Bold.ttf") format("truetype"),
}