{% extends 'base.html' %}

{% block pageTitle %}
	Sprout Quest - Level selection
{% endblock %}

{% block content %}
<div class="levels-container">
	<h1>Select a level</h1>
	<p>Select a difficulty to start your plant memory journey</p>

	<div class="level-selection">
		<div class="level-selection__card card">
			<img src="{{ url_for('level_bp.static', filename='/icons/sprout.svg') }}" alt="icon of a sprout" class="card__icon">
			<h3>Seedling</h3>
			<p>3 x 3 grid</p>
			<p>Perfect for beginners</p>
			<a href="{{ url_for('level_bp.level', level=1) }}">
				<button type="button" class="card__button">Start</button>
			</a>
		</div>
	</div>

	<div class="level-selection">
		<div class="level-selection__card card">
			<img src="{{ url_for('level_bp.static', filename='/icons/potted_plant.svg') }}" alt="icon of a potted plant" class="card__icon">
			<h3>Growing</h3>
			<p>4 x 4 grid</p>
			<p>For intermidiate players</p>
			<a href="{{ url_for('level_bp.level', level=2) }}">
				<button type="button" class="card__button">Start</button>
			</a>
		</div>
	</div>

	<div class="level-selection">
		<div class="level-selection__card card">
			<img src="{{ url_for('level_bp.static', filename='/icons/flower.svg') }}" alt="icon of a flower" class="card__icon">
			<h3>Mature</h3>
			<p>5 x 5 grid</p>
			<p>If you want a challenge</p>
			<a href="{{ url_for('level_bp.level', level=3) }}">
				<button type="button" class="card__button">Start</button>
			</a>
		</div>
	</div>

	<div class="level-selection">
		<div class="level-selection__card card">
			<img src="{{ url_for('level_bp.static', filename='/icons/zen.svg') }}" alt="icon of a lotus flower" class="card__icon">
			<h3>Seedling</h3>
			<p>4 x 6 grid</p>
			<p>No timer, no stress</p>
			<a href="{{ url_for('level_bp.level', level=4) }}">
				<button type="button" class="card__button">Start</button>
			</a>
		</div>
	</div>

	<a href="{{ url_for('main_bp.home') }}"> Back to homepage</a>
{% endblock %}