{% extends 'base.html' %}

{% block pageTitle %}
	Sprout Quest - Level selection
{% endblock %}

{% block content %}
<div class="levels-container">
	<div class="levels-container__header">
		<h1>Select a level</h1>
		<p>Select a difficulty to start your plant memory journey</p>
	</div>

	<div class="levels-container__content">
		<div class="content__selection">
			<div class="level-selection">
				{% for level in levels %}
					<div class="level-selection__card card">
						<img src="{{ url_for('level_bp.static', filename='icons/' + level.selection_card_icon + '.svg') }}" alt="icon of a {{ level.selection_card_icon }}" class="card__icon">
						<h3>{{ level.name }}</h3>
						<div class="card__info">
							<p>{{ level.row }} x {{ level.column }} grid</p>
							<p>{{ level.description }}</p>
						</div>
						<a href="{{ url_for('level_bp.level', level=level.level_num) }}">
							<button type="button" class="card__button">Start</button>
						</a>
					</div>
				{% endif %}
			</div>
		</div>
		<a href="{{ url_for('main_bp.home') }}"> Back to homepage</a>
	</div>
</div>
{% endblock %}